:root {
  --main-ultra-color: #8C35E3;
  --text_background-color: #fff;
  --text-color: #000;
  --section-startx-color: #81B42E;
  --section-lite-color: #FFCA00;
  --section-pro-color: #FF4E68;
  --section-plus-color: #FF8F28;

  --main-font: 'Poppins', san-serif;
  --main-padding-inline: clamp(1.25rem, -1.1752rem + 10.3474vw, 10rem);
  --header-padding-block-end: clamp(9.375rem, 6.5514rem + 12.0473vw, 19.5625rem);
  --card-size: 360px;
}